/*Color gradient*/
#pnLeftGrid, #btnLogin, #signupTopBar, #btnReturnLogin, #btnConfirm{
    -fx-background-color: linear-gradient( to right top,#fc665d, #fc908b);
}

#btnSigupTo,#btnSaveSignup {
    -fx-background-color: linear-gradient( to right top, #fc7d6c, #fcbeae);
}

#pnRightGrid, #pnSignupGridBottom{
    -fx-background-color: linear-gradient( to right top, #b7b7b7, #ffffff);
}